include  ../linkbutton/linkbutton
section.program
    h2.title
        |Программа курса
    .container
        .wrap_number_module
            p.number_module
                |1
            p.number_module
                |  2
            p.number_module
                | 3
            p.number_module
                |  4
            p.number_module
                | 5
            p.number_module
                | 6
            p.number_module
                | 7
            p.number_module
                | Сертификация коуча
        include ./module/module
        .programwrapbtn
            +linkbuttom('#','Стать участником курса')