.desctopnav
    a.logo_nav_link(href='#')
        |Центр развития NEO

    ul.desc_list.descmenu
        li.desc_list_item
            a.descnavlink(href='#for_whom')
                |Кому необходим
        li.desc_list_item
            a.descnavlink(href='#warranty')
                | Гарантия изменений
        li.desc_list_item
            a.descnavlink(href='#program')
                | Программа
        li.desc_list_item
            a.descnavlink(href='#price')
                | Записаться
    ul.desc_list.contactmenu
        li.desc_list_item
            svg.scgiconnav(width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.8571 0H1.14286C0.839753 0 0.549062 0.115892 0.334735 0.322183C0.120408 0.528472 0 0.808262 0 1.1V9.9C0 10.1917 0.120408 10.4715 0.334735 10.6778C0.549062 10.8841 0.839753 11 1.14286 11H14.8571C15.1602 11 15.4509 10.8841 15.6653 10.6778C15.8796 10.4715 16 10.1917 16 9.9V1.1C16 0.808262 15.8796 0.528472 15.6653 0.322183C15.4509 0.115892 15.1602 0 14.8571 0ZM13.6 1.1L8 4.829L2.4 1.1H13.6ZM1.14286 9.9V1.6005L7.67429 5.951C7.76994 6.01487 7.88358 6.0491 8 6.0491C8.11642 6.0491 8.23006 6.01487 8.32571 5.951L14.8571 1.6005V9.9H1.14286Z" fill="#020E35")
            a.descnavlink(href='mailto:info@shkolaneo.ru')
                | info@shkolaneo.ru
        li.desc_list_item
            svg.scgiconnav(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M6.13251 3.54445L4.10272 1.20159C3.86872 0.931608 3.43973 0.932808 3.16793 1.20519L1.49874 2.87729C1.00194 3.37466 0.85974 4.11322 1.14714 4.70538C2.8641 8.26015 5.73114 11.1311 9.28369 12.8529C9.87529 13.1403 10.6133 12.9981 11.1101 12.5007L12.7949 10.813C13.0679 10.54 13.0685 10.1087 12.7961 9.87467L10.4441 7.85579C10.1981 7.64461 9.81589 7.6722 9.56929 7.91939L8.7509 8.73894C8.709 8.78285 8.65385 8.81179 8.59391 8.82133C8.53397 8.83087 8.47256 8.82047 8.4191 8.79174C7.08137 8.02144 5.97171 6.91039 5.20312 5.57173C5.17433 5.51818 5.16391 5.45667 5.17345 5.39663C5.18299 5.3366 5.21196 5.28134 5.25592 5.23935L6.07191 4.4228C6.31911 4.17441 6.34611 3.79104 6.13251 3.54445Z" stroke="#020E35" stroke-linecap="round" stroke-linejoin="round")
            a.descnavlink(href='tel:+78864532566')
                | +7 886 453 25-66