section.author
    h2.title ОБ АВТОРЕ И МЕТОДЕ "ЭНЕРГО-КОУЧИНГА"
    .container
        .authorwrap
            p.authorartical
                | Дмитрий Александрович Конев - психотерапевт, практикующий психолог. НЛП-практик, Мастер-тренер по коучингу СПФИ.
                | Разработал методику эволюции сознания, основанную на энергоинформационных технологиях.
                | Эти технологии помогают раскрыть потенциал мозга и развить мыслительные и творческие способности. Владея методикой, любая задача становится выполнимой и не энергозатратной - ответ не нужно искать, он приходит сам.
                | Дмитрий уже более 5 лет занимается обучением людей, выпустил более 1000 учеников, которые изменили свою жизнь и жизнь своих клиентов.
            .authorwrapimg
                img.authorimg(src='./img/author.jpg' alt='Дмитрий')
