.header{
  .headercontent{
    color: rgba(255, 255, 255, 1);
    padding: 25px 20px;
    background: rgba(88, 125, 255, 1);
  }
  .headerwrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .headerleft{
      display: none;
    }
    .headermobilup{
      padding-top: 24px;
      .headertitle{
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
      }
      .headeraside{
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        justify-content: center;
      }
    }
    .headerleft,
    .headermobilup,
    .headermobildown{
      .headertitle{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        color: #FFFFFF;
      }
      .headeraside{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
      }
      .headerartical{
        margin-bottom: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        opacity: 0.8;
      }
      .headerprice{
        margin-bottom: 12px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        span{
          margin-left: 10px;
          text-decoration-line: line-through;
          opacity: 0.3;
        }
      }
      .headercondition{
        margin-bottom: 12px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.8;
      }
    }

    .headerbooking{
      display: inline-block;
      padding: 16px 24px;
      background: #F5F8FF;
      color: #020E35;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      border-radius: 2px;
      border: 2px solid #F5F8FF;
      transition: .5s;
      &:hover{
        transition: .5s;
        border: 2px solid rgba(234, 234, 238, 0.98);
        opacity: .8;
      }
    }
  }
  .headermobildown{
    display: flex;
    flex-direction: column;
    align-items: center;
    .headerartical{
      max-width: 260px;
      text-align: center;
      margin-bottom: 12px;
    }
    .headerprice{
      text-align: center;
      font-weight: 400;
      font-size: 22px;
    }
    .headercondition{
      margin-bottom: 12px;
    }
  }
}
.headerright{
  margin-bottom: 24px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header {
    .headercontent {
      padding: 44px 25px;
    }
    .headerwrap{
      justify-content: center;
      flex-direction: row;
      align-items: center;
      .headermobilup,
      .headermobildown{
        display: none;
      }
      .headerleft {
        display: block;
        margin-right: 25px;
        max-width: 460px;
        width: 100%;
        .headertitle {
          font-size: 30px;
          margin-bottom: 12px;
        }
        .headeraside{
          margin-bottom: 32px;
          font-size: 16px;
        }
        .headerartical{
          margin-bottom: 12px;
          font-size: 16px;
        }
        .headercondition{
          max-width: 420px;
          width: 100%;
        }
        .headerbooking{
          padding: 16px 60px;
          font-size: 14px;
        }
        }
      }
    .headerright{
     margin: 0;
    }
    }
  }


@media screen and (min-width: 900px) {
  .headerwrap{
    .headerleft{
      width: 630px;
      .headertitle{
        margin-bottom: 15px;
        font-size: 36px;
      }
      .headeraside{
        margin-bottom: 30px;
        font-size: 22px;
        &:last-child{
          margin-bottom: 12px;
          font-size: 18px;
        }
      }
      .headerartical{
         font-size: 18px;
      }
        .headercondition{
        margin-bottom: 25px;
        max-width: 415px;
        font-size: 12px;
      }
      .headerbooking{
        display: inline-block;
        padding: 15px 60px;
        background: #F5F8FF;
        color: #020E35;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        border-radius: 2px;
        border: 2px solid #F5F8FF;
        transition: .5s;
        &:hover{
          transition: .5s;
          border: 2px solid rgba(234, 234, 238, 0.98);
          opacity: .8;
        }
      }
    }
    .headerright{
      margin: 0;
      .wraptimg{
        position: relative;
        max-width: 318px;
        width: 100%;
        height: 100%;
        .headerimg{
          width: 100%;
          height: 100%;
        }
        .circle{
          content: '';
          position: absolute;
          background: #ffffff;
          left: -30px;
          bottom: 50px;
          width: 60px;
          height: 60px;
          border-radius: 60px;
        }
      }
    }

  }

}
