.price{
  background: #E0E7FF;
  height: 100%;
  width: 100%;
  padding:24px 15px;
  .wrapcard{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pricebox{
      margin-bottom: 15px;
      padding: 20px;
      min-height: 460px;
      box-sizing: border-box;
      border: 4px solid #ffffff;
      border-radius: 5px;
      color: #020E35;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: #ffffff;
      transition: .5s;
      &:hover{
        background: #E0E7FF;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
        transition: .5s;
        transform: scale(1.01);
        .pricerate{
          background: #ffffff;
          opacity: 1;
          transition: .5s;

        }
      }
      .upbox{
        margin-bottom: 15px;
      }
      .pricerate{
        margin-bottom: 15px;
        padding: 30px 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #E0E7FF;
        font-style: normal;
        font-weight: 700;
        opacity: 0.8;
        text-transform: uppercase;
      }
      .priceartical{
        font-style: normal;
        font-weight: 400;
        opacity: 0.8;
      }
      .prices{
        text-align: center;
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: #020E35;
      }
    }
  }
  .pricetext{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #020E35;
    opacity: 0.5;
  }
}
@media screen and (min-width: 768px) {
  .price {
    padding: 44px 24px;
    .pricetext {
      font-size: 12px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .wrapcard{
    display: flex;
   align-items: center;
    .pricebox{
      padding: 20px;
      margin-bottom: 16px;
      width: 347px;
      height: 491px;
      .pricerate{
        margin-bottom: 24px;
        padding: 20px 100px;
        font-size: 18px;
      }
      .priceartical{
        font-size: 14px;
      }


    }

  }
}
@media screen and (min-width: 900px) {
  .price{
    padding: 60px 180px;
    .wrapcard{
      margin-bottom: 30px;
      justify-content: space-between;
      .pricebox{
        cursor: pointer;
        padding: 20px 20px;
        width: 350px;
        height: 490px;

        &:last-child{
          margin-right: 0;
        }
        .pricerate{
          margin-bottom:25px ;
          width: 305px;
          height: 80px;
          font-size: 22px;
        }
        .priceartical{
          margin: 0 auto;
          width: 280px;
          font-size: 16px;
        }
        .prices{
          font-size: 22px;
        }
        .linkbuttom{
          padding: 14px 55px;
        }
      }
    }
  }
  .pricetext{
    font-size: 14px;
    margin-bottom:20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .price {
    padding: 60px 60px;
    .wrapcard {
      flex-direction: row;
      margin-bottom: 30px;
      justify-content: space-between;
      align-items: center;
      .pricebox {
        cursor: pointer;
        margin-right: 30px;
        padding: 20px 20px;
        width: 350px;
        height: 490px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}