include  ../linkbutton/linkbutton
section.warranty
    .container
        h2.warranty_title Почему мы можем гарантировать изменения даже тем людям, кто уже проходил другие тренинги и не преуспел?
        .warranty_wrap
            include warranty_white_block/warranty_white_blockup
            ul.warranty_list
                li.warranty_list_item
                    |• Как начать всё с чистого листа, перестать откладывать и навсегда стать лучше?
                li.warranty_list_item
                    |• Почему не хватало мотивации и сил завершить перемены в себе и своей жизни?
                li.warranty_list_item
                    |• Как сбалансировать жизнь: отношения, работу, отдых, развитие, удовольствия?
                li.warranty_list_item
                    |• Как не бояться трудностей и справляться с ними?
                li.warranty_list_item
                    |• Как найти дело своей жизни?
                li.warranty_list_item
                    |• Как помочь близким людям?

            include warranty_white_block/warranty_white_blockdown
            +linkbuttom('#','Стать участником курса')