.nav{
  .desctopnav{
    display: none;
    .contact{
      display: none;
    }
  }
  .linemob,
  .linemob:after,
  .linemob:before{
    position: fixed;
    content: '';
    width: 40px;
    height: 3px;
    right: 30px;
    background: rgba(12, 12, 12, 0.37);
    z-index: 105;
    transition: 1s;
  }
  .linemob{
    top: 10px;
  }
  .linemob:after{
    top: 20px;
  }
  .linemob::before{
    top: 30px;
  }
  .linemobactive.linemob{
    transform: rotate(45deg);
    background: #fff;
    top: 35px;
    transition: 1s;
    &:before{
      background: none;
    }
    &:after{
      top: 1px;
      right: 1px;
      transform: rotate(-90deg);
      background: #fff;
      transition: 1s;
    }
  }
    .burger{
      display: flex;
      align-items: center;
      justify-content: center;
      content: '';
      position: fixed;
      top: 0;
      bottom: 0;
      left: -3000%;
      width: 100%;
      background: rgba(88, 125, 255, 1);
      transition: 2s;
      color: #fff;
      z-index: 100;
      &_list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        &_item{
          font-size: 25px;
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
          .navlink{
            color: #fff;
          }
        }
      }
    }
  .burgershow{
    left: 0;

    transition: 1s;
  }
}
@media screen and (min-width: 768px) {
  .nav{
    .linemob,
    .linemob:after,
    .linemob:before{
      position: absolute;
      content: '';
      width: 20px;
      height: 3px;
      background: #020E35;
      z-index: 100;
    }
    .linemob:after,
    .linemob:before{
      right: 0;
    }
    .linemob{
      top: 20px;
      right: 20px;
    }
    padding:20px 60px;
    .desctopnav{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo_nav_link{
        display: flex;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: #020E35;
      }
      .descmenu{
        display: none;
      }
      .contactmenu{
        display: flex;
        gap:16px;
        .desc_list_item{
          display: flex;
          align-items: center;
          .scgiconnav{
            margin-right: 8px;
          }
          .descnavlink{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: #020E35;
          }
        }

      }
    }
  }
}
@media screen and (min-width: 1100px) {
  .nav{
    padding:20px 60px;
    .linemob{
      display: none;
    }
    .desctopnav{
        display: flex;
        justify-content: space-between;
        text-rendering: optimizeSpeed;
      .logo_nav_link{
        color: #020E35;
        text-rendering: optimizeSpeed;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
      }
      .desc_list{
        display: flex;
        .desc_list_item{
          margin-right:15px ;
          &:last-child{
            margin-right: 0;
          }
          .scgiconnav{
            margin-right:8px ;
          }
        }
        .descnavlink{
          color: #020E35;
          text-rendering: optimizeSpeed;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
  }
@media screen and (min-width: 1500px) {
  .nav {
    padding: 20px 115px;
  }
}