include  ./pricecard/pracecardbase
include  ./pricecard/pracecardstandart
include  ./pricecard/pracecardvip
section.price#price
    h2.title Тарифы курса
    .container
        .wrapcard
            +cardbase('БАЗОВЫЙ','- Программа "Энерго-коучинга".',
                '- Обратная связь от Дмитрия Конева во время упражнений и заданий в коуч-группах.',
                '-Раздаточные учебные материалы.','','150.000р')
            +cardstandart('СТАНДАРТ','- Программа БАЗОВЫЙ.',
                '- Обратная связь от Дмитрия, поддержка кураторов.',
                '- Раздаточные материалы, плюс личная коуч-сессия с Дмитрием по результату обучения. Любые вопросы.',
                '','220.000р')
            +cardvip('V.I.P','- Пакет СТАНДАРТ:',
                '- Личная коуч-сессия с Д.А. Коневым по результатам обучения – можно назначить в течение 3-х месяцев после курса.',
                '- Приоритет в ответах на вопросы.',
                '- Плюс личный план развития своего коучинга на котором вы сможете зарабатывать от 300 тысяч рублей в месяц.','300.000р')
        p.pricetext
            |*Бронирование места на обучение считается по факту оплаты. Оплата осуществляется банковской картой через платежную систему CloudPayments, наличными в офисе или безналичным расчётом.
        p.pricetext
            |**При участии более двух человек от компании предоставляются корпоративные скидки
        p.pricetext
            | ***Предоплата в 5000 рублей бронирует за вами место в группе по текущей стоимости.