.headermobildown
    p.headerartical
        | Узнайте, как коренным образом изменить жизнь и построить лучшую версию себя!
    //p.headerprice
    //    | 40.000р
    //    span
    //        | 90.000р
    p.headercondition
        | Цена действительна до 1 октября 2022 г. Предоплата в 5000 рублей бронирует за вами место в группе по текущей стоимости.
    a.headerbooking(href='#price') Забронировать место
