extends ../layout/layout.pug
block vars
	- var title = 'Энерго-коучинг';
block header
	include ../includes/header/header
block content
	include ../includes/content-main.pug
block footer
	include ../includes/footer/footer

