.footer_right
    ul.footer_list
        li.footer_list_item
            a.footer_list_item(href='#')
                | Публичная оферта
        li.footer_list_item
            a.footer_list_item(href='#')
                | Согласие на обработку персональных данных
        li.footer_list_item
            a.footer_list_item(href='#')
                | Политика конфиденциальности
