.footer_right
    ul.footer_list
        li.footer_list_item
            | Публичная оферта
        li.footer_list_item
            | Согласие на обработку персональных данных
        li.footer_list_item
            | Политика конфиденциальности