.footer_left
    ul.footer_list
        li.footer_list_item
            |Москва
        li.footer_list_item
            | Центр развития NEO
    ul.footer_list
        li.footer_list_item
            | WhatsApp / Viber / СМС
        li.footer_list_item
            | +7 900 329 48 33
        li.footer_list_item
            | info@shkolaneo.ru
    ul.footer_list
        li.footer_list_item
            | 2020 shkolaneo.ru