ul.burger_list
    li.burger_list_item
        a.navlink(href='#')
            |Кому необходим
    li.burger_list_item
        a.navlink(href='#')
            | Гарантия изменений
    li.burger_list_item
        a.navlink(href='#')
            | Программа
    li.burger_list_item
        a.navlink(href='#')
            | Записаться