ul.burger_list
    li.burger_list_item
        a.navlink(href='#for_whom')
            |Кому необходим
    li.burger_list_item
        a.navlink(href='#warranty')
            | Гарантия изменений
    li.burger_list_item
        a.navlink(href='#program')
            | Программа
    li.burger_list_item
        a.navlink(href='#price')
            | Записаться