.programmobil_wrap
    include ./program1
    include ./program2
    include ./program3
    include ./program4
    include ./program5
    include ./program6
    include ./program7
    include ./program8