.mobil_module#m4
    .wrap_mobil_title
        h4.titlemodule_mobil
            | Супервизия энерго-коучинг.
        .wrap_mobil_svg
            svg(width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.958166 1.01225C1.57064 0.706287 2.31015 0.826258 2.79448 1.31015L8.07686 6.58772C8.85776 7.36791 10.1231 7.36791 10.904 6.58772L16.1864 1.31015C16.6707 0.826257 17.4102 0.706288 18.0227 1.01225C18.9951 1.49801 19.2053 2.79394 18.4364 3.5622L10.904 11.0877C10.1231 11.8679 8.85776 11.8679 8.07686 11.0877L0.544483 3.5622C-0.224482 2.79394 -0.0142403 1.49801 0.958166 1.01225Z" fill="#587DFF")
    ul.mobil_list
        li.mobil_item
            | -Системные процессы в энерго-коучинге.
        li.mobil_item
            | -Системный анализ.
        li.mobil_item
            | -Модель системного коучинга SOAR.
        li.mobil_item
            | -Коучинг в разрешении конфликтов.