.mobil_module#m1
    .wrap_mobil_title
        h4.titlemodule_mobil
            | Системные модели энерго-коучинга
        .wrap_mobil_svg
            svg(width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.958166 1.01225C1.57064 0.706287 2.31015 0.826258 2.79448 1.31015L8.07686 6.58772C8.85776 7.36791 10.1231 7.36791 10.904 6.58772L16.1864 1.31015C16.6707 0.826257 17.4102 0.706288 18.0227 1.01225C18.9951 1.49801 19.2053 2.79394 18.4364 3.5622L10.904 11.0877C10.1231 11.8679 8.85776 11.8679 8.07686 11.0877L0.544483 3.5622C-0.224482 2.79394 -0.0142403 1.49801 0.958166 1.01225Z" fill="#587DFF")

    ul.mobil_list
        li.mobil_item
            | -Понятие “энерго-коучинг”
        li.mobil_item
            | -Коучинг, как система
        li.mobil_item
            | -Разновидности индивидуального коучинга: классический коучинг; энерго-коучинг; трансформационный коучинг
        li.mobil_item
            | -Этические стандарты энерго-коуча
        li.mobil_item
            | -Базовые пресуппозиции энерго-коучинга
        li.mobil_item
            | -Особенности коучинг-взаимодействия: Раппорт; прояснение; ответственность; баланс поддержки-фрустрации
        li.mobil_item
            | -Ошибки, которые совершает коуч.
        li.mobil_item
            | Основные компетенции коуча:
        li.mobil_item
            | 1.Сбор невербальной информации; моделирование ситуаций; актуальных для клиента; речевые инструменты коучинга: 5 видов вопросов, обратная связь, вызовы, поддержка, утверждения и идеи
        li.mobil_item
            | 2.Вопросы коуч-взаимодействия: модельные вопросы, вопросы-сомнения, вопросы-уточнения, трансформирующие вопросы, вопросы-разрешения
        li.mobil_item
            | 3.Макромодели коучинга и их особенности (GROW, GoMAD, SCORE)
        li.mobil_item
            | 4.Колесо жизненного баланса

    //.mobil_list_show