.module
    h4.titlemodule
        |Энерго-Коучинг.
    .module_wrap_list
        ul.module_list
            li.module_list_item
                |-Особенности энерго-коучинга и его отличия от классического коучинга.
            li.module_list_item
                | -3-ступенчатая модель энерго-коучинга.
            li.module_list_item
                | -Пирамида логических уровней.
            li.module_list_item
                | -Использование трансформационных техник энерго - коучинга.
