.module
    h4.titlemodule
        |Сертификация коуча.
    .module_wrap_list
        ul.module_list
            li.module_list_item
                |Формат: индивидуальная беседа в zoom/иной программе с Дмитрием Коневым в экзаменационной форме.
        ul.module_list.right
            li.module_list_item
                | Перед сертификацией необходимо подготовить небольшую презентацию/файл с описанием 5 консультаций:
            li.module_list_item
                | 1. План работы.
            li.module_list_item
                | 2. Ход работы.
            li.module_list_item
                | 3. Итог работы.