.module
    h4.titlemodule
        |Трансформационный коучинг на уровне личности.
    .module_wrap_list
        ul.module_list
            li.module_list_item
                |-Подходы трансформации на основе работы с «частями» личности.
            li.module_list_item
                | -Сущностная трансформация.
            li.module_list_item
                | -Прогнозирование мышления и поведения LAB PROFILE
            li.module_list_item
                | -Личностная трансформация на основе концепции Lab-profile.
            li.module_list_item
                | -Трансформация и подстройка к будущему.

