.module
    h4.titlemodule
        |Практика и супервизия индивидуального коучинга.
    .module_wrap_list
        ul.module_list
            li.module_list_item
                |-Стратегическая коучинг-сессия.
            li.module_list_item
                |-Работа с помощью энерго-коучинга с зависимостями и привычками. Визуальное сдавливание.
            li.module_list_item
                | -Реимпринтинг на линии времени.

