.module
    h4.titlemodule
        |Системные модели энерго-коучинга
    .module_wrap_list
        ul.module_list
            li.module_list_item
                |-Понятие “энерго-коучинг”
            li.module_list_item
                | -Коучинг, как система
            li.module_list_item
                | -Разновидности индивидуального коучинга: классический коучинг; энерго-коучинг; трансформационный коучинг
            li.module_list_item
                | -Этические стандарты энерго-коуча
            li.module_list_item
                | -Базовые пресуппозиции энерго-коучинга
            li.module_list_item
                | -Особенности коучинг-взаимодействия: Раппорт; прояснение; ответственность; баланс поддержки-фрустрации
            li.module_list_item
                | -Ошибки, которые совершает коуч.
        ul.module_list.right
            li.module_list_item
                | Основные компетенции коуча:
            li.module_list_item
                | -Сбор невербальной информации; моделирование ситуаций; актуальных для клиента; речевые инструменты коучинга: 5 видов вопросов, обратная связь, вызовы, поддержка, утверждения и идеи
            li.module_list_item
                | -Вопросы коуч-взаимодействия: модельные вопросы, вопросы-сомнения, вопросы-уточнения, трансформирующие вопросы, вопросы-разрешения
            li.module_list_item
                | -Макромодели коучинга и их особенности (GROW, GoMAD, SCORE)
            li.module_list_item
                | -Колесо жизненного баланса
