.module
    h4.titlemodule
        |Специализация. Энерго-коуча. Продвижение услуг коуча.
    .module_wrap_list
        ul.module_list
            li.module_list_item
                |-Стратегическое планирование своей профессиональной деятельности.
            li.module_list_item
                | -Интеграция курса в жизнь.

