.module
    h4.titlemodule
        |Супервизия энерго-коучинг.
    .module_wrap_list
        ul.module_list
            li.module_list_item
                |-Системные процессы в энерго-коучинге.
            li.module_list_item
                | -Системный анализ.
            li.module_list_item
                | -Модель системного коучинга SOAR.
            li.module_list_item
                | -Коучинг в разрешении конфликтов.
