.headerleft
    h1.headertitle
        | Трансформационный курс «Энерго-коучинг»
    p.headeraside
        | Искусство получать желаемое. Эксклюзивная авторская программа Дмитрия Конева
    p.headerartical
        | Узнайте, как коренным образом изменить жизнь и построить лучшую версию себя!
    //p.headerprice
    //    | 150.000р
    p.headercondition
        |Цена действительна до 1 октября 2022 г. Предоплата в 5000 рублей бронирует за вами место в группе по текущей стоимости.
    a.headerbooking(href='#price') Забронировать место