section.for_whom#for_whom
    h2.title Для кого предназначен курс?
    .container
        .for_whom_wrap
            include ./for_whommobil/for_whom_mobilup
            include ./for_whom_left/for_whom_left
            include ./for_whom_right/for_whom_right
            include ./for_whommobil/for_whom_mobildown

