.warranty{
  background: #E0E7FF;
  .warranty_title{
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
     text-align: center;
    color: #020E35;
    font-size: 18px;
  }
  .warranty_wrap {
       .warranty_list{
      margin-bottom: 15px;
      .warranty_list_item{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: #020E35;
        font-size: 14px;
      }
    }
    .warranty_white_block {
      background: #FFFFFF;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      .svgrevers{
        transform: rotate(180deg);
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .warranty {
    padding: 24px 44px;
    .warranty_wrap{
      .warranty_white_block{
        flex-direction: row;
        .warranty_white_block_text{
          max-width: 430px;
        }
        &:first-child{
          padding-right: 12px;
        }
        &:nth-child(3){
          padding-left: 12px;
          margin-bottom: 12px;
        }
      }
    }
  }
}
@media screen and (min-width: 900px) {
  .warranty{
    padding: 60px 216px;
    .warranty_title{
      max-width: 900px;
      font-size: 26px;
    }
    .warranty_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      .warranty_list {
        margin-bottom: 30px;

        .warranty_list_item {
          font-size: 16px;
        }
      }

      .warranty_white_block {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        gap: 25px;
        .warranty_white_block_text {
          max-width: 570px;
          .text {
            max-width: 570px;
            display: inline-block;
                font-size: 16px;
          }
        }
      }
    }
  }
}