.for_whom_right
    p.for_whom_right_title А также:
    p.for_whom_right_text - Коучам и практическим психологам, заинтересованным в психотехнологиях нового поколения, основанных на научной психологии;
    p.for_whom_right_text - Людям, довольным своей жизнью, но понимающим, что могут и достойны большего: лучшей должности, условий жизни, достатка, должности;
    p.for_whom_right_text - Уставшим от «бешеной гонки» и желающим сбалансировать жизнь.

